<!-- <app-ny-component *ngFor = "let i of arrComps"></app-ny-component>



<br><br><br> -->



<!-- <app-result></app-result> -->




<button appMyDirectiv2 clickColor='red' (myClick)='array.push($event)'>clich 1</button><br><br><br>
<button appMyDirectiv2 clickColor='yellow' (myClick)='array.push($event)'>clich 2</button><br><br><br>
<button appMyDirectiv2 clickColor='blue' (myClick)='array.push($event)'>clich 3</button><br><br><br>
<button appMyDirectiv2 clickColor='pink' (myClick)='array.push($event)'>clich 4</button><br><br><br>


<ul>
    <li *ngFor='let i of array'>{{i}}</li>
</ul>